<header id="header">

<div class="off-canvas position-left hide-for-medium" id="offCanvasLeft" data-off-canvas data-transition="overlap">

<!-- OffCanvas close button -->
<button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
</button>

<!-- OffCanvas -->
<ul class="vertical menu" data-smooth-scroll>
  <li><a href="#presentation">Présentation</a></li>
  <li><a href="#cupidon">Offre weekend cupidon</a></li>
  <li><a href="#cocon">Cocon</a></li>
</ul>
</div>

<div class="off-canvas-content" data-off-canvas-content>
<div class="title-bar hide-for-medium">
    <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title">
            <img src="assets/img/BOMA-LOGO.png">
        </span>
    </div>
</div>

<!-- Desk navigation -->
<div class="top-bar show-for-medium">
    <div class="top-bar-left" data-smooth-scroll>
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">
              <img src="assets/img/BOMA-LOGO.png">
            </li>
            <li><a href="#presentation">Présentation</a></li>
            <li><a href="#cupidon">Offre weekend cupidon</a></li>
            <li><a href="#cocon">Cocon</a></li>
        </ul>
    </div>
</div>
</div>
</header>
